let mapleader=" "
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fg :action FindInPath<CR>
xnoremap <leader>fg :action FindInPath<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
xnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>fb :action RecentFiles<CR>
nnoremap <leader>gd :action GotoDeclaration<CR>
nnoremap <leader>gi :action GotoImplementation<CR>
nnoremap <leader>gD :action GotoTypeDeclaration<CR>
nnoremap <leader>kk :action QuickDocumentation<CR>
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>re :action RenameElement<CR>
nnoremap <leader>gc :action CommentByLineComment<CR>
xnoremap <leader>gc :action CommentByLineComment<CR>
nnoremap <leader>cc :action Run<CR>
nnoremap <leader>rc :action ReformatCode<CR>
xnoremap <leader>rc :action ReformatCode<CR>
nnoremap <leader>qq :action CloseActiveTab<CR>
map <leader>u :action FindUsages<CR>
map <leader>p :action ShowUsages<CR>
set clipboard=unnamedplus
nmap <leader>aa ggVG
set scrolloff=8
xnoremap <leader>gc :action CommentByLineComment<CR>
nnoremap <leader><S-Tab> :action Forward<CR>
nnoremap <leader><Tab> :action Back<CR>
nnoremap <C-f> :action Find<CR>
xnoremap <C-f> :action Find<CR>
nnoremap <C-r> :action Replace<CR>
xnoremap <C-r> :action Replace<CR>
nnoremap <leader>nb :action GotoNextError<CR>
nnoremap <leader>np :action GotoPreviousError<CR>
nnoremap <leader>gl :action GotoLine<CR>
set NERDTree
nnoremap <leader>pv :action ActivateProjectToolWindow<CR>
nnoremap <leader>h :action HideActiveWindow<CR>
nnoremap <leader>tt :NERDTreeToggle<CR>
nnoremap <leader>tf :NERDTreeFind<CR>
xnoremap <leader>tf :NERDTreeFind<CR>
nnoremap <leader>tc :NERDTreeClose<CR>
nnoremap <leader>tr :NERDTreeRefreshRoot<CR>
nnoremap <leader>tp :NERDTreeFocus<CR>
map <leader>bb <Action>(ToggleLineBreakpoint)
map <leader>bc <Action>(EditBreakpoint)
map <leader>bv <Action>(ViewBreakpoints)
nnoremap <leader>db :action Debug<CR>
nnoremap <leader>ss :action Stop<CR>
nnoremap R <C-r>
noremap <leader>gb :action Annotate<CR>
nnoremap <leader>dr :action ConfigurationXDebuggerResumeAction<CR>
nnoremap <leader>rn :action RenameElement<CR>
xnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>sh :split<CR>
nnoremap <leader>sv :vsplit<CR>
nmap <leader>nc <Action>(NewClass)
autocmd FileType nerdtree nunmap  <buffer> c
autocmd FileType nerdtree nmap    <buffer> c <Action>(NewClass)
nmap <leader>c :action NewClass<CR>
nnoremap <leader>im :action ImplementMethods<CR>
nnoremap <leader>om :action OverrideMethods<CR>
nnoremap <leader>mt :action MoveEditorToOppositeTabGroup<CR>
nnoremap <leader>gn :action Generate<CR>
nnoremap <C-w> :action CloseContent<CR>
nnoremap <leader>da :action Debugger.AddToWatch<CR>
nnoremap <silent> <C-h> :action PrevSplitter<CR>
nnoremap <silent> <C-l> :action NextSplitter<CR>
nnoremap <silent> <C-S-w> :action NextSplitter<CR>
nnoremap <C-S-e> :action MoveEditorToOppositeTabGroup<CR>
